header {
    margin: 0;
    top: -5px;
}
body {
    font-family: Roboto Light, Roboto, Helvetica, sans-serif;
    background: url('/images/bg_about_us.png') no-repeat fixed center/cover;
    margin: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 70%;
    /*overflow: hidden;*/
    margin: auto;
}

.logo img {
    height: auto;
    width: 100%;
}

#navbar {
    margin-top: 0;
    position: relative;
    top: -20px;
}
.navbarlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    background: 5px rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,131,131,1) 67%, rgba(163,163,163,1) 100%, rgba(255,255,255,1) 100%);
    overflow: auto;
    top: 5px;

}
.navbarlinks li {
    float: left;
}

.navbarlinks li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    float: left;
    margin-top: 1px;
}

.navbarpages{
    float: right;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#navbar li a:hover {
    background-color: #141414;
    background-size: 25px;
    margin-top: 2px;
}

#navbar-links {
    margin: 0;
}
.dropdown {
    float: right;
    /*overflow: auto;*/
}

ul .dropdown {
    list-style: none;
    display: inline-block;
    background: none;
    position: relative;

}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

ul li a {
    display: inline-block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;

}

ul li ul.dropdown li {
    display: block;

}

ul li.dropdown {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown:hover ul.dropdown {
    display: block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 12px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

/*main*/

.logo img {
    height: auto;
    width: 100%;
}

.koda-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    width: 40%;
}

.about-us-heading {
    color: white;
    text-align: center;
    padding: 2%;
}

.class-pic {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 55%;
}

#class-pic-id {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    border-radius: 5%;
}
.about-us-dummy-text {
    display: block;
    margin: auto;
    max-width: 55%;
    text-align: justify;
}

/*footer*/

.footer-bottom {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875em;
    color: grey;
    text-align: center;
}